:root {
    background-color: #ecf5ff;
    font-size: 62.5%;
    color: black;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

body {
    background-image: url(/assets/images/full_throttle_main_img_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

/* HEADINGS */

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 4rem;
    color: black;
    margin-bottom: 5rem;
    text-align: center;
    padding: 20px;
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

#home-par {
    font-size: 2.8rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10rem;
}

/* MAIN FUNCTIONS */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.container > * {
    width: 100%;
}

#window {
  background-color: #56a5eb;
  opacity:0.
}

/* COLUMNS */

.center-column {
    justify-content: center;
    align-items: center;
    display: grid;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* BUTTONS */

.btn {
    font-size: 4rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: red;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* ANSWER/CHOICES */

.answer-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(86, 165, 235, 0.25);
    background-color: white;
}

.answer-container:hover {
    cursor: pointer;
}

.answer-attach {
    padding: 1.5rem 2.5rem;
    background-color: rgba(72, 49, 183, 0.25);
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/* DISPLAYS */

#display {
    display: flex;
    justify-content: space-between;
}

.display-attach {
    text-align: center;
    font-size: 2rem;
}

.display-main-text {
    text-align: center;
}
